* {
  box-sizing: border-box;
}

body {
  margin: 16px;
  font-family: var(--font-family);
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: #fafafa;
  color: #212121;
  line-height: 1.5;
}
:root {
  --font-family: "Montserrat", sans-serif;
}
