body {
  max-width: 1160px;
  padding: 0 16px;
  margin: 0 auto;
}

.gallery {
  display: flex;
  flex-wrap: wrap;
  gap: 48px 24px;
  list-style-type: none;
  margin: 0;
  padding: 0;
}

img {
  object-fit: cover;
}
