#categories {
  border-radius: 8px;
  padding: 24px;
  background: #fff;
  color: #2e2f42;
  letter-spacing: 0.04em;
  list-style-type: none;
  max-width: fit-content;
  margin: 0;
}

#categories .item {
  border-radius: 8px;
  padding: 16px;
  background: #f6f6fe;
}

#categories .item:not(:last-child) {
  margin-bottom: 24px;
}

#categories .item h2 {
  font-weight: 600;
  font-size: 24px;
  line-height: 1.33333;
  margin: 0 0 16px;
}

#categories .item ul {
  list-style-type: inherit;
  padding: 0;
  margin: 0;
}

#categories .item ul li {
  width: 360px;
  height: 40px;
  border: 1px solid #808080;
  border-radius: 4px;
  padding: 8px 16px;
}

#categories .item li:not(:last-child) {
  margin-bottom: 8px;
}
