.widget {
  border-radius: 8px;
  padding: 100px 88px;

  max-width: fit-content;

  background: #fff;
}

button {
  font-weight: 500;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.04em;
  color: #fff;

  border-radius: 8px;
  padding: 8px 16px;
  max-width: 148px;
  height: 40px;
  border: none;

  background: #4e75ff;
}

button:hover,
button:focus {
  background: #6c8cff;
}
